body{

  font-family: 'Lato', sans-serif;
  display: grid;
  justify-items: center;
}
.container-posts{
  display: grid;
gap: 10px;
}
.post-item{
  border: black 1px solid;
padding: 5px;
}
.input-change-post{
  font-size: 18px;
  width: 200px;
 height: 200px;
}